//Fonts
@font-face {
  font-family: 'PelazioFont';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/En/Yekan Bakh Fa-En 04 Regular.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFont';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/En/Yekan Bakh Fa-En 05 Medium.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFont';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/En/Yekan Bakh Fa-En 06 Bold.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFont';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/En/Yekan Bakh Fa-En 07 Heavy.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFont';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/En/Yekan Bakh Fa-En 08 Fat.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

//Number Fa
@font-face {
  font-family: 'PelazioFontNum';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/En/Yekan Bakh FaNum 04 Regular.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFontNum';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/En/Yekan Bakh FaNum 05 Medium.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFontNum';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/En/Yekan Bakh FaNum 06 Bold.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFontNum';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/En/Yekan Bakh FaNum 07 Heavy.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'PelazioFontNum';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/En/Yekan Bakh Fa-En 08 Fat.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
